@import '../../../Assets/variables';

.title {
  font-family: $tet;
  font-size: 26px;
  position: relative;
  border-top: 1px solid $bordersColor;
  color: $bordersColor;

  &::before {
    top: -4px;
    background-color: $bordersColor;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 0;
    position: absolute;
    width: 6px;
  }
  &::after {
    top: -2px;
    border-top: 2px solid $bordersColor;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 75%;
  }

  .upLine {
    position: relative;
    border-bottom: 1px solid;
    border-color: $bordersColor;

    h3::before {
      background-color: $bordersColor;
      border-radius: 50%;
      bottom: -3px;
      content: "";
      height: 6px;
      left: 0;
      position: absolute;
      width: 6px;
    }
    h3::after {
      border-bottom: 2px solid $bordersColor;
      bottom: -1.5px;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      width: 50%;
    }

  }

}