@import '../../Assets/variables';


.upgradesWrapper {
  padding: 10px;

  & span {
    color: $counterColor;
    font-family: $tet;
  }

  .word {
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    color: $brightTextColor;
    background: $bgShadow;
  }

}