@import '../../Assets/variables';

.counterWrapper {
  width: 300px;
  text-align: center;
  padding: 10px;
  position: relative;
  border-left: 1px solid $bordersColor;

  &::before {
    background-color: $bordersColor;
    border-radius: 50%;
    bottom: -3px;
    content: "";
    height: 6px;
    left: -2px;
    position: absolute;
    width: 6px;
  }

  &::after {
    border-left: 2px solid $bordersColor;
    bottom: 0;
    content: "";
    height: 40%;
    left: -1px;
    position: absolute;
    width: 50%;
  }

  .counterNumber {
    color: $counterColor;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $tet;
    font-size: 66px;
  }

  .counterText {

    .words {
      color: $bgShadow;
    }

  }

}