@import "../../Assets/variables";

.cardWrapper {
  width: 350px;
  margin: 10px;
  position: relative;
  border-top: 1px solid $bordersColor;
  color: $bordersColor;
  padding: 10px;

  &::before {
    top: -4px;
    background-color: $bordersColor;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 0;
    position: absolute;
    width: 6px;
  }
  &::after {
    top: -2px;
    border-top: 2px solid $bordersColor;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 75%;
  }

}
