@import '../../assets/variables.scss';

.companyCardWrapper {
  width: fit-content;
  padding: 10px;
  display: grid;
  grid-template-areas: 'fields info';
  grid-gap: 50px;

  .fields {
    grid-area: fields;
  }

  .info {
    color: $brightTextColor;
    grid-area: info;
  }

}