@font-face {
  font-family: 'Federation';
  src: local('Federation'), url("assets/fonts/AnyConv.com__federation.woff") format('woff'),
  url(assets/fonts/AnyConv.com__federation.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TET';
  src: local('TET'), url(Assets/fonts/AnyConv.com__tet.woff) format('woff'),
  url(Assets/Fonts/AnyConv.com__tet.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OCR-A';
  src: local('OCR-A'), url(Assets/fonts/AnyConv.com__OCR-A.woff) format('woff'),
  url(Assets/Fonts/AnyConv.com__OCR-A.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
}


:root {

  /*custom backGround from generator https://10015.io/tools/css-background-pattern-generator*/
  background-image: radial-gradient(#354649 1px, transparent 1px);
  background-size: 87px 87px;
  background-color: #0c0c0c;

  font-family: 'OCR-A', 'TET', 'Federation',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}