@import './Assets/variables.scss';

html {
  box-sizing: border-box;
  font-size: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}


.inventorContainer {
  font-family: 'Blender', sans-serif;
  margin: 20px auto;
  max-width: 1200px;
  flex-wrap: wrap;
  color: #9abcc0;

  .inventorMain {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
  }

}